<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visión por Computador - Práctica 2</title>
    <link rel="stylesheet" href="/static/stylesPropio.css">
</head>
<body>

    <header>
        <h1>Práctica 2:<br>Visión por Computador</h1>
        <div>
            <h2>Python + Flask + OpenCV + ESP32-CAM</h2>
            <p><strong>Autores:</strong> Jorge Cueva &nbsp; | &nbsp; Kevin Yansaguano</p>
        </div>
    </header>

     <main>
       <section class="video-section">
            <img src="/video_stream" alt="Video Stream">
            <button class="btn" href="/" onclick="location.href='/'">
                Parte A:
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15px" width="15px" class="icon">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5" stroke="#292D32" d="M8.91016 19.9201L15.4302 13.4001C16.2002 12.6301 16.2002 11.3701 15.4302 10.6001L8.91016 4.08008"></path>
                </svg>
            </button>
        </section>


     </main>

    <footer>
        <p>Universidad Politécnica Salesiana</p>
        <p><strong>2025</strong></p>
        <p>Asignatura: Visión por Computador</p>
    </footer>

    <script src="/static/js.js"></script>
    
    
</body>
</html>