<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visión por Computador - Práctica 2</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header>
        <h1>Práctica 2:<br>Visión por Computador</h1>
        <div>
            <h2>Python + Flask + FastApi + ESP32-CAM</h2>
            <p><strong>Autores:</strong> Jorge Cueva &nbsp; | &nbsp; Kevin Yansaguano</p>
        </div>
    </header>

     <main>
       <h1>Operaciones Morfológicas Aplicadas</h1>
    
    
    <div class="image-selection">
        <h3>Selecciona una imagen:</h3>
        <input type="radio" name="image_name" value="img1" {% if image_name == "img1" %} checked {% endif %} onchange="updateImage()"> Radiografia
        <input type="radio" name="image_name" value="img2" {% if image_name == "img2" %} checked {% endif %} onchange="updateImage()"> Angiografia
        <input type="radio" name="image_name" value="img3" {% if image_name == "img3" %} checked {% endif %} onchange="updateImage()"> TAC
        
        <br><br>

        <h3>Selecciona el tamaño del kernel:</h3>
        <input type="range" id="kernel-slider" name="kernel_size" min="1" max="37" value="{{ kernel_size }}" oninput="updateSlider(this.value)">
        <span id="kernel-value">{{ kernel_size }}</span>
    </div>

   <div class="image-result">
    <div id="processed-images-container"> 
    <h3>Resultados de Operaciones Morfológicas (Cuadrícula 3x3)</h3>
    
    {% if images_data.eroded %}
    
    <div class="grid-panel-70">
        <div class="grid"> 
            
            <div class="img-box">
                <h4 class="caption">Original</h4>
                <img id="image-original" src="/static/images/{{ image_name }}.png" alt="Imagen Original">
            </div>

            <div class="img-box">
                <h4 class="caption">Erosión</h4>
                <img src="data:image/png;base64,{{ images_data.eroded }}" alt="Erosión">
            </div>

            <div class="img-box">
                <h4 class="caption">Dilatación</h4>
                <img src="data:image/png;base64,{{ images_data.dilated }}" alt="Dilatación">
            </div>
            
            <div class="img-box">
                <h4 class="caption">Top Hat</h4>
                <img src="data:image/png;base64,{{ images_data.tophat }}" alt="Top Hat">
            </div>

            <div class="img-box">
                <h4 class="caption">Black Hat</h4>
                <img src="data:image/png;base64,{{ images_data.blackhat }}" alt="Black Hat">
            </div>

            <div class="img-box">
                <h4 class="caption">Original + (Top Hat - Black Hat)</h4>
                <img src="data:image/png;base64,{{ images_data.combined }}" alt="Imagen Combinada"> 
            </div>
            
  
        </div>
    </div>
    {% else %}
    <p>No hay imágenes procesadas disponibles.</p>
    {% endif %}
</div>
</div>

     </main>

    <footer>
        <p>Universidad Politécnica Salesiana</p>
        <p><strong>2025</strong></p>
        <p>Asignatura: Visión por Computador</p>
    </footer>

    <script src="/static/js/ja.js"></script>
    
    
</body>
</html>





